@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
} 

@layer utilities {
  .user_grid {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
    .text-10 {
        @apply text-[10px] leading-[14px];
      }
    
      .text-12 {
        @apply text-[12px] leading-[16px];
      }
    
      .text-14 {
        @apply text-[14px] leading-[20px];
      }
    
      .text-16 {
        @apply text-[16px] leading-[24px];
      }
    
      .text-18 {
        @apply text-[18px] leading-[22px];
      }
    
      .text-20 {
        @apply text-[20px] leading-[24px];
      }
    
      .text-24 {
        @apply text-[24px] leading-[30px];
      }
    
      .text-26 {
        @apply text-[26px] leading-[32px];
      }
    
      .text-30 {
        @apply text-[30px] leading-[38px];
      }
      .text-32 {
        @apply text-[32px] leading-normal;
      }
    
      .text-36 {
        @apply text-[36px] leading-[44px];
      }
       /* ===== TYPOGRAPHY */
  .text-36-bold {
    @apply text-[36px] leading-[40px] font-bold;
  }

  .text-24-bold {
    @apply text-[24px] leading-[28px] font-bold;
  }

  .text-32-bold {
    @apply text-[32px] leading-[36px] font-bold;
  }

  .text-18-bold {
    @apply text-[18px] leading-[24px] font-bold;
  }

  .text-16-semibold {
    @apply text-[16px] leading-[20px] font-semibold;
  }

  .text-16-regular {
    @apply text-[16px] leading-[20px] font-normal;
  }

  .text-14-medium {
    @apply text-[14px] leading-[18px] font-medium;
  }

  .text-14-regular {
    @apply text-[14px] leading-[18px] font-normal;
  }
    .flex-center {
        @apply flex items-center justify-center
    }
    /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }
  .form-btn {
    @apply text-16 rounded-lg border border-blue-500 bg-git-gradient font-semibold text-white-2;
  }
  .shad-input-label {
    @apply text-14-medium text-dark-700 !important;
  }

  .shad-input {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .shad-input-icon {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .shad-textArea {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .form-link {
    @apply text-14 cursor-pointer font-medium text-gitGradient;
  }
    /* Home */
    .home {
      @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
    }
  
    .home-content {
      @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
    }
  
    .home-header {
      @apply flex flex-col justify-between gap-8;
    }

    .header-box {
      @apply flex flex-col gap-1 text-center;
    }
  
    .header-box-title {
      @apply text-24 lg:text-30 font-semibold text-gray-200;
    }
  
    .header-box-subtext {
      @apply text-14 lg:text-16 font-normal text-gray-200;
    }

    /* Sidebar */
  .sidebar {
    @apply sticky left-0 top-0 flex w-fit flex-col  justify-between  border-none  bg-black-1 pt-8 text-white-1 max-md:hidden lg:w-[270px] lg:pl-8;
  }
    /* Footer */
    .footer {
      @apply flex cursor-pointer items-center justify-between gap-2 py-9;
    }
  
    .footer_name {
      @apply flex size-10 items-center justify-center rounded-full bg-gray-200 max-xl:hidden;
    }
  
    .footer_email {
      @apply flex flex-1 flex-col justify-center max-xl:hidden;
    }
  
    .footer_name-mobile {
      @apply flex size-10 items-center justify-center rounded-full bg-gray-100;
    }
  
    .footer_email-mobile {
      @apply flex flex-1 flex-col justify-center;
    }
  
    .footer_image {
      @apply relative size-5 max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center text-white-2;
    }
  
}
