@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #131619;
}
/* ========================================== TAILWIND STYLES */
@layer base {
    /* Remove scrollbar */
    .remove-scrollbar::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
  
    .remove-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .remove-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
    }
  
    .remove-scrollbar::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
}  

@layer utilities {
    .text-10 {
        @apply text-[10px] leading-[14px];
      }
    
      .text-12 {
        @apply text-[12px] leading-[16px];
      }
    
      .text-14 {
        @apply text-[14px] leading-[20px];
      }
    
      .text-16 {
        @apply text-[16px] leading-[24px];
      }
    
      .text-18 {
        @apply text-[18px] leading-[22px];
      }
    
      .text-20 {
        @apply text-[20px] leading-[24px];
      }
    
      .text-24 {
        @apply text-[24px] leading-[30px];
      }
    
      .text-26 {
        @apply text-[26px] leading-[32px];
      }
    
      .text-30 {
        @apply text-[30px] leading-[38px];
      }
    
      .text-36 {
        @apply text-[36px] leading-[44px];
      }
    .flex-center {
        @apply flex items-center justify-center
    }
    /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }
  .form-btn {
    @apply text-16 rounded-lg border border-gitGradient bg-git-gradient font-semibold text-white;
  }
  .shad-input-label {
    @apply  text-white !important;
  }

  .shad-input {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .shad-input-icon {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
  }
  .form-link {
    @apply text-14 cursor-pointer font-medium text-gitGradient;
  }
}
